@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

[data-slot="helper-wrapper"] {
  display: none !important;
}

.line {
  position: relative;
}

.line::before {
  position: absolute;
  width: 0;
  height: 4px;
  background-color: #000000ce;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  left: 0;
  top: 50%;
  content: "";
  transition: 0.4s ease;
}

.line-through::before {
  width: 100%;
}

.opacity-brighter {
  opacity: 0.7 !important;
}

.animated-line.line::before {
  width: 100%;
  transition: all 0.4s ease;
}

.completed {
  transition: 0.4s ease;
}

.completed {
  opacity: 0.7 !important;
}

.overflow-wrap {
  overflow-wrap: anywhere;
}